<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verification Page</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Verification</h1>

            <form th:action="@{/verify}" method="post">

                <div class="form-group">
                    <label class="control-label" for="verification_code"> Verification Code </label>
                    <input type="hidden" th:value="${session.user_to_register}" name="email">
                    <input
                        id="verification_code" class="form-control" required
                        autofocus="autofocus"
                        type="text"
                        name="verification_code"
                    />
                    <input type="submit">
                </div>

            </form>

            <form th:action="@{/verify/resend}" th:method="put" id="resendForm">

                <div class="form-group">
                    <input type="hidden" th:value="${session.user_to_register}" name="email">
                    <button type="submit" value="Resend Code" >Resend</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script>
    $("#resendForm").submit(function (e){
        e.preventDefault();
        let formData = new FormData(this);
        $.ajax({
            url: "/verify/resend",
            processData: false,
            contentType: false,
            cache: false,
            type: "PUT",
            data: formData,
            success: function (data, response){
                console.log(data);
                console.log(response);
            },
            error: function (data, response){
                console.log(response);
            }
        })
        debugger;

    })
</script>
</body>
</html>